%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :nickname, "ニックネーム"
    %br/
    = f.text_field :nickname, autofocus: true
  .field
    = f.label :email, "メールアドレス"
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email"
  .field
    = f.label :password, "パスワード"
    - if @minimum_password_length
      %em
        (#{@minimum_password_length}文字以上)
    %br/
    = f.password_field :password, autocomplete: "new-password"
  .field
    = f.label :password_confirmation, "パスワード(確認)"
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .field
    = f.label :last_name, "姓(全角)"
    %br/
    = f.text_field :last_name, autofocus: true, autocomplete: "last_name"
  .field
    = f.label :first_name, "名（全角）"
    %br/
    = f.text_field :first_name, autofocus: true, autocomplete: "first_name"
  .field
    = f.label :last_name_kana, "姓カナ（全角）"
    %br/
    = f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana"
  .field
    = f.label :first_name_kana, "名カナ（全角）"
    %br/
    = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana"
  .field
    = f.label :birth_day, "生年月日"
    %br/
    = f.select :birth_year, autofocus: true do
      %option{value: ""} -
      = (1900..2019).each do |y|
        %option{value: y}= y
    %br/
    = f.select :birth_month, autofocus: true do
      %option{value: ""} -
      = (1..12).each do |m|
        %option{value: m}= m
    %br/
    = f.select :birth_day, autofocus: true do
      %option{value: ""} -
      = (1..31).each do |d|
        %option{value: d}= d
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
