%ul.top-list-dropdown
  %li
    = link_to 'カテゴリーから探す', root_path
    %ul
      %li
        = link_to '上カテゴリ', root_path
        %ul
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
      %li
        = link_to '上カテゴリ', root_path
        %ul
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
      %li
        = link_to '上カテゴリ', root_path
        %ul
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
      %li
        = link_to '上カテゴリ', root_path
        %ul
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
      %li
        = link_to '上カテゴリ', root_path
        %ul
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
          %li
            = link_to '中カテゴリ', root_path
            %ul
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
              %li= link_to '下カテゴリ', root_path
  %li
    = link_to 'ブランドから探す', root_path
    %ul.top-list-dropdown
      %li= link_to 'ブランド', root_path
      %li= link_to 'ブランド', root_path
      %li= link_to 'ブランド', root_path
      %li= link_to 'ブランド', root_path
      %li= link_to 'ブランド', root_path
      %li= link_to 'ブランド', root_path
      %li= link_to 'ブランド', root_path
      %li= link_to 'ブランド', root_path
      %li= link_to 'ブランド', root_path
      %li= link_to 'ブランド', root_path
