= link_to root_path do
  .item-box
    .item-box__image
      = image_tag('item_sample', class: 'item-image')
    .item-box__body
      %h3.item-box__body__name samplesamplesample
      %h3.item-box__body__price 짜0,000
= link_to root_path do
  .item-box
    .item-box__image
      = image_tag('item_sample', class: 'item-image')
      .item-box__body
        %h3.item-box__body__name samplesamplesample
        %h3.item-box__body__price 짜0,000
= link_to root_path do
  .item-box
    .item-box__image
      = image_tag('item_sample', class: 'item-image')
      .item-box__body
        %h3.item-box__body__name samplesamplesample
        %h3.item-box__body__price 짜0,000
= link_to root_path do
  .item-box
    .item-box__image
      = image_tag('item_sample', class: 'item-image')
      .item-box__body
        %h3.item-box__body__name samplesamplesample
        %h3.item-box__body__price 짜0,000
