= form_for [@user, @item] do |f|
  = f.fields_for :item_images, html: {class: "dropzone", id: "item-dropzone"} do |f|
    %p 出品画像
    = f.file_field :body
  %p 商品名
  = f.text_field :name
  %p 商品の説明
  = f.text_area :description

  %p 商品の詳細

  %p カテゴリー
  = f.collection_select :category_id, Category.all, :id, :name, include_blank: "---"

  %p 商品の状態
  = f.select :state do
    %option{value:""} ---
    %option{value:"新品、未使用"} 新品、未使用
    %option{value:"未使用に近い"} 未使用に近い
    %option{value:"目立った傷や汚れなし"} 目立った傷や汚れなし
    %option{value:"やや傷や汚れあり"} やや傷や汚れあり
    %option{value:"傷や汚れあり"} 傷や汚れあり
    %option{value:"全体的に状態が悪い"} 全体的に状態が悪い

  %p 配送料の負担
  = f.select :postage do
    %option{value:""} ---
    %option{value:"送料込み（出品者負担）"} 送料込み（出品者負担）
    %option{value:"着払い（購入者負担）"} 着払い（購入者負担）

  %p 発送元の地域
  = f.collection_select :region_id, Region.all, :id, :name, include_blank: "---"

  %p 発送までの日数
  = f.select :shipping_date do
    %option{value: ""} ---
    %option{value: "1~2日で発送"} 1~2日で発送
    %option{value: "1~2日で発送"} 2~3日で発送
    %option{value: "1~2日で発送"} 4~7日で発送

  %p 価格
  = f.text_field :price

  %p
  = f.submit


