!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title freemarket_sample_39
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .logo
        = image_tag('logo.svg', size: "134x36")
      .top-form
        %input.top-form{:placeholder => "キーワードから探す", :size => "100", :type => "text"}/
        %input.top-form__submit{:type => "submit"}/
        .search-icon
          = fa_icon("search")
      .top-list
        = render 'drop-down'
      .top-list__right
        %ul
          %li
            = link_to root_path do
              = image_tag('user_photo.png', class: 'user-photo-top')
              マイページ
            .mypage-dropdown
              .mypage-dropdown__image
                = image_tag('user_photo.png', class: 'mypage-dropdown__image--photo')
              .mypage-dropdown__name
                ユーザー名
              %ul
                %li
                  =link_to '評価:0', root_path
                %li
                  =link_to '出品数:0', root_path
              %ul.mypage-dropdown__upper-box-float
                %li
                  0
                %li
                  0
              %ul.mypage-dropdown__upper-box
                %li
                  =link_to '売上金', root_path
                %li
                  =link_to 'ポイント', root_path
              %ul.mypage-dropdown__bottom-box-float
                %li
                %li
                %li
                %li
                %li
                %li
              %ul.mypage-dropdown__bottom-box
                %li
                  =link_to 'いいね！　一覧', root_path
                %li
                  =link_to '出品した商品-出品中', root_path
                %li
                  =link_to '出品した商品-取引中', root_path
                %li
                  =link_to'出品した商品-売却済', root_path
                %li
                  =link_to '購入した商品-取引中', root_path
                %li
                  =link_to '購入した商品-過去の取引', root_path

          %li
            = link_to root_path do
              = fa_icon("bell")
              お知らせ
          %li
            = link_to root_path do
              = fa_icon('check')
              やることリスト
    = yield
